.board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
}

.row {
    display: flex;
}

.square {
    width: 60px;
    height: 60px;
}

.dark {
    background-color: #769656;
}

.light {
    background-color: #eeeed2;
}

.piece {
    position: absolute;
    width: 60px;
    height: 60px;
}
