<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="true"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="addResourceApi=false"/>
        <listEntry value="addJcache=false"/>
        <listEntry value="addJBatchApi=false"/>
        <listEntry value="payaraMicroVersion=6.2023.2"/>
        <listEntry value="addPayaraApi=true"/>
        <listEntry value="jdkVersion=1.8"/>
        <listEntry value="addConcurrentApi=false"/>
        <listEntry value="autoBindHttp=true"/>
        <listEntry value="deployWar=true"/>
        <listEntry value="contextRoot=/"/>
        <listEntry value="addMicroprofileApi=true"/>
        <listEntry value="archetypeGroupId=fish.payara.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=payara-micro-maven-archetype"/>
        <listEntry value="archetypeVersion=2.0"/>
        <listEntry value="groupId=com.zzz"/>
        <listEntry value="artifactId=Chezzz"/>
        <listEntry value="version=1.0.0-SNAPSHOT"/>
        <listEntry value="package=com.zzz.Chezzz"/>
        <listEntry value="outputDirectory=B:\andre\Documentos\Proyectos 2\Chees_Game"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\andre\AppData\Local\Temp\m2e-archetypeGenerator7336860078178596081"/>
</launchConfiguration>
